@import "/Applications/MAMP/htdocs/Portfolio/_mixins.scss";

/*   color variables */
$clr-primary: #f06292;
$clr-primary-hover: #fce4ec;
$clr-primary-dark: #ec407a;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

/*   border radius */
$radius: 0.5rem;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Exo', sans-serif;
}

section {
  background-color: $clr-primary-hover;
  height: 100%;

  @include ml{
    overflow-x: hidden;
  }
}

.grille {
  max-width: 1000px;
  background-color: white;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2.5fr 0.25fr;
  grid-template-areas:
    "titre"
    "slider"
    "footer";

  .nav {
    position: fixed;
    box-shadow: 0 0 16px $clr-primary-hover;
    height: 100px;
    left: 0;
    top: 0;
    width: 100%;
    transition: top 0.8s;
    background: white;
    z-index: 2;

    &__list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
      margin: 0 2rem;
      height: 100px;

      &logo {
        list-style: none;
        margin-right: auto;
        cursor: pointer;

        img {
          width: 100px;
          transition: fill 250ms ease-in;

          &:hover,
          &:focus {
            fill: $clr-primary;
          }
        }
      }

      &item {
        list-style: none;
        font-weight: bold;
        position: relative;
        padding: 1.5rem 1rem;
        cursor: pointer;

        a{
          text-decoration: none;
          color: black;
        }

        &::after {
          content: "";
          width: 0;
          height: 0.3rem;
          border-radius: $radius;
          position: absolute;
          left: 50%;
          bottom: 0.8rem;
          background-color: $clr-primary;
          transform: translateX(-50%) scaleX(0);
          transform-origin: 50% 50%;
          transition: transform 250ms;

        }

        &:hover::after,
        &:focus::after {
          width: 40%;
          transform: translateX(-50%) scaleX(1);
        }

        &:hover ul,
        &:focus ul {
          opacity: 1;
          visibility: visible;
        }

        &drop {
          position: absolute;
          top: 4rem;
          left: -1rem;
          box-shadow: 0 0 10px $clr-gray300;
          background-color: white;
          border-radius: $radius;
          width: 12rem;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          opacity: 0;
          visibility: hidden;
          transition: opacity 200ms ease-in-out;

          li {
            list-style: none;
            padding: 0.5rem 1rem;
            border-radius: $radius;
            transition: background-color 200ms ease-in-out;

            &:hover,
            &:focus {
              background-color: $clr-primary-hover;
            }
          }
        }
      }
    }
  }

  footer{
    background-color: $clr-primary-hover;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
      width: 50px;
    }
    #in{
      width: 16px;
    }
    h3,p{
      padding: 5px;
      color: black;
    }

  }

}

.titre{
  margin-top: 100px;
  width: 100%;
  height: 200px;
  grid-area: titre;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $clr-primary;
  font-size: 32px;
  background-color: $clr-primary-hover;
  text-align: center;
  @include sm{
    font-size: 28px;
  }
  @include s{
    font-size: 26px;
  }

}

.mention{
  background-color: $clr-primary;
  grid-area: mention;
  text-align: center;
  font-style: italic;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav.animate{
  top: -110px;
}

.nav.sticky{
  top: 0;
  z-index: 990;
}

table {
  padding: 10px;
  grid-area: table;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 200px;
  border: 1px solid $clr-primary;
  box-shadow: 2px 2px 12px $clr-primary-hover, -1px -1px 8px $clr-primary-hover;
}


.slider{
  grid-area: slider;
  position: relative;
  min-height: 500px;
  margin: 20px;
  overflow: hidden;
  border-radius: $radius;
}

.slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info{
  position: absolute;
  color: $clr-primary;
  background: rgba(0, 0, 0, 0.7);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
}

.slider .slide .info p{
  font-size: 1em;
  font-weight: 400;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 330px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  z-index: 999;
  display: flex;
  justify-content: center;
  position: relative;
  top: 325px;
}

.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);

}

.navigation-visibility .slide-icon.active{
  background: $clr-primary;
}

@media (max-width: 900px){
  .slider{
    width: 96%;
  }

  .slider .slide .info{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@include sl{
  .slider{
    width: 94%;
  }
}

@include sm{
  .slider{
    width: 93%;
  }
}

@media (max-width: 500px){
  .slider .slide .info h2{
    font-size: 1.8em;
    line-height: 40px;
  }

  .slider .slide .info p{
    font-size: 0.9em;
  }
}

@include s{
  .slider{
    width: 90%;
  }
}
