/*   color variables */
$clr-primary: #f06292;
$clr-primary-hover: #fce4ec;
$clr-primary-dark: #ec407a;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

/*   border radius */
$radius: 0.5rem;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Exo', sans-serif;
}

section {
  background-color: $clr-primary-hover;
  height: 3500px;

}

.grille {
  max-width: 1000px;
  background-color: white;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr) 0.25fr;
  gap: 2%;
  grid-template-areas:
            "titre titre"
            "item1 item2"
            "item3 item4"
            "item5 item6"
            "item7 item8"
            "item9 item10"
            "footer footer"

;


  .nav {
    position: fixed;
    box-shadow: 0 0 16px $clr-primary-hover;
    height: 100px;
    left: 0;
    top: 0;
    width: 100%;
    transition: top 0.8s;
    background: white;
    z-index: 2;

    &__list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
      margin: 0 2rem;
      height: 100px;

      &logo {
        list-style: none;
        margin-right: auto;
        cursor: pointer;

        img {
          width: 100px;
          transition: fill 250ms ease-in;

          &:hover,
          &:focus {
            fill: $clr-primary;
          }
        }
      }

      &item {
        list-style: none;
        font-weight: bold;
        position: relative;
        padding: 1.5rem 1rem;
        cursor: pointer;

        a{
          text-decoration: none;
          color: black;
        }

        &::after {
          content: "";
          width: 0;
          height: 0.3rem;
          border-radius: $radius;
          position: absolute;
          left: 1rem;
          bottom: 0.8rem;
          background-color: $clr-primary;
          transition: width 200ms ease-in;
        }

        &:hover::after,
        &:focus::after {
          width: 80%;
        }

        &:hover ul,
        &:focus ul {
          opacity: 1;
          visibility: visible;
        }

        &drop {
          position: absolute;
          top: 4rem;
          left: -1rem;
          box-shadow: 0 0 10px $clr-gray300;
          background-color: white;
          border-radius: $radius;
          width: 12rem;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          opacity: 0;
          visibility: hidden;
          transition: opacity 200ms ease-in-out;

          li {
            list-style: none;
            padding: 0.5rem 1rem;
            border-radius: $radius;
            transition: background-color 200ms ease-in-out;

            &:hover,
            &:focus {
              background-color: $clr-primary-hover;
            }
          }
        }
      }
    }
  }

  .item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  h2, p{
    color: $clr-primary;
    padding: 30px 30px 30px 30px;
  }

  .item{
    text-align: center;
    height: 490px;
    width: 490px;

    a{
      color: $clr-primary;
      text-decoration: none;
      background-color: white;
      padding: 20px 30px;
      border-radius: $radius;
      display: inline-block;
      &:hover {
        background-color:$clr-primary;
        color: $clr-primary-hover;
        transition: 0.5s;
      }
    }

  }

  .item1 {
    background-color: white;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .item2 {
    background-color: $clr-primary-hover;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .item3 {
    background-color: $clr-primary-hover;
    grid-area: item3;
  }

  .item4 {
    background-color: white;
    grid-area: item4;
  }

  .item5 {
    background-color: white;
    grid-area: item5;
  }
  .item6 {
    background-color: $clr-primary-hover;
    grid-area: item6;
  }
  .item7 {
    background-color: $clr-primary-hover;
    grid-area: item7;
  }
  .item8 {
    background-color: white;
    grid-area: item8;
  }
  .item9 {
    background-color: white;
    grid-area: item9;
  }
  .item10 {
    background-color: $clr-primary-hover;
    grid-area: item10;
  }
  .item11 {
    background-color:  $clr-primary-hover;
    grid-area: item11;
  }
  .item12 {
    background-color: white;
    grid-area: item12;
  }
  .item13 {
    background-color: white;
    grid-area: item13;
  }
  .item14 {
    background-color: $clr-primary-hover;
    grid-area: item14;
  }
  .item15 {
    background-color: $clr-primary-hover;
    grid-area: item15;
  }
  .item16 {
    background-color: white;
    grid-area: item16;
  }
  .item17 {
    background-color: white;
    grid-area: item17;
  }
  .item18 {
    background-color: $clr-primary-hover;
    grid-area: item18;
  }
  .item19 {
    background-color: $clr-primary-hover;
    grid-area: item19;
  }
  .item20 {
    background-color: white;
    grid-area: item20;
  }
  .item21 {
    background-color: white;
    grid-area: item21;
  }
  .item22 {
    background-color: $clr-primary-hover;
    grid-area: item22;
  }

  .img-interests{
    width: 490px;
    height: 490px;
  }

  .titre{
    margin-top: 100px;
    padding: 16px 0;
    width: 100%;
    height: 200px;
    grid-area: titre;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $clr-primary;
    background-color: $clr-primary-hover;

    h1{
      font-size: 32px;
    }

    p{
      font-size: 20px;
    }
  }

  footer{
    background-color: $clr-primary-hover;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
      width: 50px;
    }
    #in{
      width: 16px;
    }
    h3,p{
      padding: 5px;
      color: black;
    }

  }

}


.mention{
  background-color: $clr-primary;
  text-align: center;
  font-style: italic;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav.animate{
  top: -110px;
}

.nav.sticky{
  top: 0;
  z-index: 990;
}
